/* src/index.css */
@import "tailwindcss";

:root {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

/* Scrollbar stillari */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}